.customFont {
    font-family: 'Gochi Hand', cursive;
    src: url('../assets/Gochi_Hand/GochiHand-Regular.ttf');
    font-weight: 400;
    font-style: medium;
    font-size: 20px;
}

.tiltBox {
    transform: rotate(10deg) translateX(-40px);
}

.tiltArrow {
    transform: rotate(160deg) translateX(300px) translateY(200px);
}

.tiltBox2 {
    transform: rotate(-30deg) translateX(-300px) translateY(-100px);
}

.tiltArrow2 {
    transform: rotate(-150deg) translateX(550px) translateY(-150px);
}