.customFont {
    font-family: 'Caveat', cursive;
    src: url('../assets/Caveat/Caveat-VariableFont_wght.ttf');
    font-weight: 500;
    font-style: medium;
    line-height: 1.4;
    font-size: 22px;
}

.tiltBox {
    transform: rotate(10deg) translateX(-40px);
}

.tiltArrow {
    transform: rotate(165deg) translateX(300px) translateY(200px);
}

.tiltBox2 {
    transform: rotate(-30deg) translateX(-300px) translateY(-100px);
}

.tiltArrow2 {
    transform: rotate(-150deg) translateX(580px) translateY(-150px);
}